/* giaodienMobile */
@media  (max-width: 900px)
{
    header,
    header .stiky 
    {
        padding: 10px 20px;

    }  
    ::-webkit-scrollbar { 
        display: none; 
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 61px);
        position: fixed;
        left: 0;
        top: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        list-style: none;
        margin-left: 0;

    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: #111;
        font-weight: 300;
        
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(clipart365828.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(clipart109443.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header .stiky  .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 4em;
        color: rgb(255, 255, 255);
    }
    .row 
    {
        
        display: block
    }
    .row .col50 
    {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgbx 
    {
        
        height: 300px;
        margin-top: 20px;
    }
    .titleText 
    {
       text-align: center;
    }
    .menu .content 
    {
        margin-top: 20px;
    }
    .menu .content .box
    {
        margin: 10px;
    }
    .menu .content .box .imgbx 
    {
        
        height: 260px;
    }
    .title 
    {
       
        text-align: center;
    }
    .titleText
    {
      font-size: 1.8em;
      line-height: 1.5em;
      margin-bottom: 15px;
      font-weight: 300;
    }
    .testimonials .content .box 
    {
        margin: 10px;
        padding: 20px;       
    }
    .contactForm
    {
        
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .container
     {
    width: 100%;
    display: block;
    
    justify-content: space-between; 
      
     
       
      
    }
    .big{
    top: 69px;
    left: 0;
    width: 100%;
    padding: 49px 0px;
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: 0.5s;
    }
    .mySlides{
        width: 100%;
    }
    .mySlides .numbertext img
    {
        width: 100%;
    }
    .sell{
    
        top: 69px;
        left: 0;
        margin-top: 10px;
        width: 100%;
        padding: 0px 0px;
        z-index: 1;
        flex-wrap: wrap;
        display: flex;
        /* justify-content: space-between; */ 
        align-items: center;
        transition: 0.5s;
        
       
    }
    .sell a{
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        width: 137px;
        align-items: center;
        text-align: center;
        margin: 15px;
       
    }
    .sell a:hover{

        background-color: black;
        color: deeppink;
        
    }
    .chitiec h2 {
        padding: 0.1px;
        width: 348px;
        margin: 10p;
        display: block;
        float: left;
    }
    .chitiec p{
        padding: 0.1px;
        width: 187px;
        margin: 10p;
        display: block;
        float: left;
    }
    .chitiec h1{
        padding: 7.1px;
        width: 100%;
        margin: 10p;
        display: block;
        align-items: center;
        text-align: center;
        float: left;
    }
    .chitiec h1:hover{
        color: deeppink;
    }

    .chitiec h2:hover{
        color: deeppink;
    }
    .chitiec a:hover{
        color: deeppink;
    }
    .chitiec p:hover{
        color: deeppink;
    }
    .chitiec a {
        padding: 14.1px;
        width: 139px;
        margin: 10p;
        display: block;
        float: left;
        color: black;
        font-size: 79%;
    }
    .numbertext {
        color: #151515;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        margin-top: 71px;
        top: 0;
    }

}