@import url('http://fonts.googleapis.com/css?family=Popins:200,300,400,500,600,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
 
    /* background-color: #222; */
}
::-webkit-scrollbar { 
    display: none; 
}

/* panner */
p
{
    font-weight: 300;
    color: #111;
}
/* body
{
    min-height: 1000px;
} */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(ba.jfif);
    
    background-size: cover;

}

.nab{
   margin-bottom: 10px;
}

.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 5em;
    color: #fff;

}
.banner .content p
{
    font-size: 1em;
    color: #fff;
}
.btn
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}

/* header */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
/* khi keo xuong thì chuyẻn thành class này */
.stiky
{
    background: white;
    padding: 10px 30px;
    box-shadow: 0 5px 20px rgba(0, 0 , 0,05);
}

.stiky .logo{
    color: black;
}
.stiky .navigation li a
{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: 300;
}
header .logo
{
    color: #101010;;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span
{
    color: #ff0175;

}
header .navigation
{
    position: relative;
    display: flex;

}
header .navigation li
{
    list-style: none;
    margin-left: 30px;

}
header .navigation li a
{
    text-decoration: none;
    color: #060606;
    font-weight: 300;
}

header .navigation li a:hover
{
color: #ff0157;

}
section
{
    padding: 100px;
}






.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleText
{
    color: rgb(5, 5, 5);
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color: #ff0175;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgbx
{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* mon an */
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 284px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0 , 0,08);
}

.menu .content .box .imgbx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.menu .content .box .text 
{
    padding: 15px 0 5px;

}

.menu .content .box .text h3
{
    font-weight: 400;
    color: #111;
}

/* nhanvien
 */
 .expert .content
 {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     margin-top: 40px;

 }
 .expert .content .box
{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text
{
    padding: 15px 0 5px;
}
.expert .content .box .text a
{
    font-weight: 400;
    color: #111;
    text-decoration: none;
    display: flexbox;
}
.text
{
text-decoration: none;
}

.menu .content .box .text .xe
{

color: #ff0175;
float: left;
position:absolute;

}
.menu .content .box .text a
{
    font-weight: 400;
    color: rgb(179, 10, 66);
    text-decoration: none;
}
.menu .content .box:hover .text a
{
    color: #ff0175;
    margin-left: 10px;
}
.expert .content .box:hover .text a{
    color: #ff0175;
    font-size: 20px;
}
.na{
    color: #ff0175;
}
.testimonials
{
    background: url(b.jpg);
    background-size: cover;

}
.white .titleText,
.white p
{
    color: #fff;
}
.testimonials .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgbx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text
{
    text-align: center;

}
.testimonials .content .box .text p
{
    color: #666;
    font-style: italic;
}
.testimonials .content .box .text h3
{
    margin-top: 20px;
    color: #ff0157;
    font-size: 1em;
    font-weight: 400;
}


/* contact */
.contact
{
    background: url(ac.jpg);
    /* background-size: cover; */
}
.contactForm
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0 , 0,1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #ff0175;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.copyrightText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0 , 0,1);
    text-align: center;
}
.copyrightText
{
    color: #333;
}
.copyrightText a{
    color: #ff0175;
    font-weight: 500;
    text-decoration: none;
}
/* anh chi tiec */





.container {
    
    width: 529px;
    display: flexbox;
    float: left;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-right: 52.5%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(97, 94, 94);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #151515;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 130px;
    top: 0;
}
  
  /* Container for image text */
  /* .caption-container {
    
  } */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.big
{
   
    top: 69px;;
    left: 0;
    width: 100%;
    padding: 30px 118px;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

  .chitiec
  {
      width: 505px;
  }

  .chitiec h2,p, h1,a{
      padding: 10px;
      
  }
/* thu phóng */
.sell{
    
    top: 69px;;
    left: 0;
    
    padding: 30px 111px;;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.sell a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    width: 137px;
    align-items: center;
    text-align: center;
}
.sell a:hover{
    background-color: black;
    color: deeppink;
}

.chitiec h1:hover{
    color: deeppink;
}

.chitiec h2:hover{
    color: deeppink;
}
.chitiec a:hover{
    color: deeppink;
}
.chitiec p:hover{
    color: deeppink;
}

/* giaodienMobile */
@media  (max-width: 1024px)
{
    header,
    header .stiky 
    {
        padding: 10px 20px;

    }  
    header .navigation
    {
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 61px);
        position: fixed;
        left: 0;
        top: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        list-style: none;
        margin-left: 0;

    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: #111;
        font-weight: 300;
        
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(clipart365828.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(clipart109443.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header .stiky  .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 4em;
        color: rgb(255, 255, 255);
    }
    .row 
    {
        
        display: block
    }
    .row .col50 
    {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgbx 
    {
        
        height: 300px;
        margin-top: 20px;
    }
    .titleText 
    {
       text-align: center;
    }
    .menu .content 
    {
        margin-top: 20px;
    }
    .menu .content .box
    {
        margin: 10px;
    }
    .menu .content .box .imgbx 
    {
        
        height: 260px;
    }
    .title 
    {
       
        text-align: center;
    }
    .titleText
    {
      font-size: 1.8em;
      line-height: 1.5em;
      margin-bottom: 15px;
      font-weight: 300;
    }
    .testimonials .content .box 
    {
        margin: 10px;
        padding: 20px;       
    }
    .contactForm
    {
        
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .container
     {
    width: 100%;
    display: block;
    
    justify-content: space-between; 
      
     
       
      
    }
    .big{
    top: 69px;
    left: 0;
    width: 100%;
    padding: 49px 0px;
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: 0.5s;
    }
    .mySlides{
        width: 100%;
    }
    .mySlides .numbertext img
    {
        width: 100%;
    }
    .sell{
    
        top: 69px;
        left: 0;
        margin-top: 10px;
        width: 100%;
        padding: 0px 0px;
        z-index: 1;
        flex-wrap: wrap;
        display: flex;
        /* justify-content: space-between; */ 
        align-items: center;
        transition: 0.5s;
        
       
    }
    .sell a{
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        width: 137px;
        align-items: center;
        text-align: center;
        margin: 15px;
       
    }
    .sell a:hover{

        background-color: black;
        color: deeppink;
        
    }
    .chitiec h2 {
        padding: 0.1px;
        width: 348px;
        margin: 10p;
        display: block;
        float: left;
    }
    .chitiec p{
        padding: 0.1px;
        width: 187px;
        margin: 10p;
        display: block;
        float: left;
    }
    .chitiec h1{
        padding: 7.1px;
        width: 100%;
        margin: 10p;
        display: block;
        align-items: center;
        text-align: center;
        float: left;
    }
    .chitiec h1:hover{
        color: deeppink;
    }

    .chitiec h2:hover{
        color: deeppink;
    }
    .chitiec a:hover{
        color: deeppink;
    }
    .chitiec p:hover{
        color: deeppink;
    }
    .chitiec a {
        padding: 14.1px;
        width: 139px;
        margin: 10p;
        display: block;
        float: left;
        color: black;
        font-size: 79%;
    }
    .numbertext {
        color: #151515;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        margin-top: 71px;
        top: 0;
    }
    


.next {
    margin-right: 19px;

}

}
